<mat-card class="shadow-none bg-light-error">
    <mat-card-content> 
        <div class="d-flex justify-content-between align-items-center m-b-20 p-b-2">
            <div class="d-flex align-items-center gap-12">
                <div 
                    class="bg-error rounded-circle-shape p-x-16 p-y-8 rounded-pill d-flex align-items-center justify-content-center">
                    <i class="iconify f-s-24 text-white" data-icon="solar:users-group-rounded-bold-duotone"></i>
                </div>
                <mat-card-title class="m-b-0 f-s-20 f-w-500 text-muted"> {{title }}</mat-card-title>
            </div> 
        </div>
        <div class="row align-items-end justify-content-between">
            <div class="col-6">
                <h2 class="mat-subtitle-1 f-s-30 lh-lg m-b-12"><span class="text-muted m-x-4">{{data}}</span> <span class="f-s-16">{{title}}</span></h2>
            </div>
            <div class="col-5">
                <apx-chart [series]="totalfollowersChart.series" [chart]="totalfollowersChart.chart"
                    [colors]="totalfollowersChart.colors" [dataLabels]="totalfollowersChart.dataLabels"
                    [legend]="totalfollowersChart.legend" [tooltip]="totalfollowersChart.tooltip"
                    [plotOptions]="totalfollowersChart.plotOptions" [grid]="totalfollowersChart.grid"
                    [xaxis]="totalfollowersChart.xaxis" [yaxis]="totalfollowersChart.yaxis"
                    class="rounded-bars"></apx-chart>
            </div>
        </div>
    </mat-card-content>
</mat-card>